<app-header-footer></app-header-footer>
<app-sidebar-lead></app-sidebar-lead>

<div class="Container" style="width: 75%; margin-left: 286px">
  <a routerLink="/dashboardlead" routerLinkActive="Active"
    ><img class="img" src="assets/images/back.png" alt="" />Back To dashboard</a
  >
  <a
    class="btn btn-primary"
    routerLink="/craetelead"
    routerLinkActive="Active"
    style="margin-left: 882px; margin-bottom: 10px; margin-top: 6px"
    >Create Lead</a
  >

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile_No</th>
        <th scope="col">Contry</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="lead">
      <tr *ngFor="let l of lead">
        <td>{{ l?.id }}</td>
        <td>{{ l?.first_Name }}</td>
        <td>{{ l?.last_Name }}</td>
        <td>{{ l?.email }}</td>
        <td>{{ l?.mobile_No }}</td>
        <td>{{ l?.country }}</td>
        <td>
          <button (click)="updateLead(l.id)">
            <img class="img" src="assets/images/action.png" alt="" />
          </button>
          <!-- <button (click)="deleteLead(l.id)">
            <img class="img" src="assets/images/delete.png" alt="" />
          </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
