<!DOCTYPE html>
<html
  class="modal-content"
  style="background-color: white; margin-left: 470px; margin-top: 100px"
>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div
    class="container"
    col-md-7
    style="padding-bottom: 53px; padding-left: 431px; margin-left: 85px"
  >
    <form
      class="col-5"
      (ngSubmit)="userLogin()"
      style="margin-top: 69px; margin-left: -468px"
    >
      <h1
        style="
          color: #766e6e;
          margin-left: 1px;
          margin-bottom: -19px;
          font-weight: 350;
        "
      >
        Login
      </h1>
      <img
        src="assets/images/company.png"
        style="margin-left: 66px; margin-bottom: -48px; margin-top: -134px"
      />
      
          <input
            type="text"
            class="form-control"
            [(ngModel)]="employee.userName"
            id="userName"
            placeholder="Username *"
            name="userName"
            required
          />

          <input
            type="password"
            [(ngModel)]="employee.password"
            class="form-control"
            id="password"
            placeholder="Password *"
            name="password"
            required
            style="margin-top: 15px"
          />

       
          <div>
            <button
            type="submit"
            class="btn btn-primary"
            style="margin-top: 7px"
          >
            <i class="fa fa-lock" style="margin-left: 2px"></i> Log in
          </button>
            <a href="#" style="font-size: 158%; margin-left: 52px">
            Forgot password?</a
          > </div>
                
    </form>
  </div>
</html>
