<app-header-footer></app-header-footer>
<app-sidebar-lead></app-sidebar-lead>
<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="Container" style="width: 75%; margin-left: 286px">
  <a routerLink="/dashboardlead" routerLinkActive="Active"
    ><img class="img" src="assets/images/back.png" alt="" />Back To dashboard</a
  >
  <table  *ngIf="display"  class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile_No</th>
        <th scope="col">Contry</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="lead">
      <tr *ngFor="let l of lead">
        <td>{{ l?.id }}</td>
        <td>{{ l?.first_Name }}</td>
        <td>{{ l?.last_Name }}</td>
        <td>{{ l?.email }}</td>
        <td>{{ l?.mobile_No }}</td>
        <td>{{ l?.country }}</td>
        <td>
          <button>
            <img class="img" src="assets/images/action.png" alt="" />
          </button>
          
        </td>
      </tr>
    </tbody>
  </table>
<div >
  <h1><u>Lead Details</u></h1>
  <label  for="floatingInput">First Name</label>
  <label  class="L1" for="floatingPassword">last Name</label>
  <label  class="L1" for="floatingInput"> Mobile Phone</label>
  <label style="
  margin-left: 184px;" class="L1" for="floatingPassword">Primary Email</label>
  <input type="email" class="form-control" id="floatingInput" >
  <input  type="email" class="form-control" id="floatingInput" style="
  margin-left: 270px;
  margin-top: -25px"  >
  <input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 540px;
  margin-top: -25px"   >
  <input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 810px;
  margin-top: -25px">
  <label  for="floatingInput">PAN</label>
  <label style="margin-left: 245px;" class="L1" for="floatingPassword">Aadhar</label>
  <label   style="margin-left: 224px;"class="L1" for="floatingInput"> Postal code</label>
  <label   style="margin-left: 196px;"class="L1" for="floatingPassword">City</label>
  <input type="text" class="form-control" id="floatingInput" >
  <input  type="text" class="form-control" id="floatingInput" style="
  margin-left: 270px;
  margin-top: -25px"  >
  <input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 540px;
  margin-top: -25px"   >
  <input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 810px;
  margin-top: -25px">
 <label  for="floatingInput">Lead source</label>
 <label  style="margin-left: 192px;" class="L1" for="floatingPassword">Lead status</label>
 <label  style="margin-left: 195px;" class="L1" for="floatingInput"> Country</label>
 <label  style="margin-left: 221px;" class="L1" for="floatingPassword">State</label>
 <select
 class="form-control userDetail-input"
 id="lead_source"
 name="lead_source"
>
 <option value="" disabled selected>-Select-</option>
 <option value="CRM">CRM</option>
 <option value="Sales">Sales</option>
</select>
<select
 class="form-control userDetail-input"
 id="lead_source"
 name="lead_source"
 style="margin-left: 270px;margin-top:-25px"
>
<option value="" disabled selected>-Select-</option>
<option value="Active">Active</option>
<option value="Inactive">Inactive</option>
</select>
<input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 540px;
  margin-top: -25px"   >
  <input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 810px;
  margin-top: -25px"><br>
   <h1><u>Lead Maintance</u></h1>
   <label  for="floatingInput">Assign To</label>
 <label  style="margin-left: 192px;" class="L1" for="floatingPassword">Lead status</label>
 <select
 class="form-control userDetail-input"
 id="lead_source"
 name="lead_source"
>
<option value="" disabled selected>-Select-</option>
<option value="Sidhant kumar">Sidhant kumar</option>
<option value="Avinash sonawane">Avinash sonawane</option>
</select><br>
<h1><u>Customer Details</u></h1>
  <label  for="floatingInput">Customer Verification</label>
  <label  style="margin-left: 141px;" class="L1" for="floatingPassword">Loan Amount</label>
  <label  style="margin-left: 185px;" class="L1" for="floatingInput"> Product</label>
  <label style="
  margin-left: 218px;" class="L1" for="floatingPassword">Tenor</label>
  
  <input style="width: 105px;" type="email" class="form-control" id="floatingInput" >
  <input  type="email" class="form-control" id="floatingInput" style="
  margin-left: 270px;
  margin-top: -25px"  >
  <input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 540px;
  margin-top: -25px"   >
  <input  type="email" class="form-control" id="floatingInput"style="
  margin-left: 810px;
  margin-top: -25px">
  
  <button type="button" class="btn btn-success">Verify OTP</button>
  <button style="
  margin-left: 43px;margin-top: -56px" type="button" class="btn btn-primary">Request OTP</button><br><br>
    <label for="formFileMultiple" class="form-label">Documents Upload</label>
    <label style="
    margin-left: 153px;" class="L1" for="floatingInput">Remarks</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
    <textarea style="
    margin-left: 270px;
    margin-top: -25px"   class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  
</div>
</div>
