<!DOCTYPE html>
<html>
  <head>
    <title>Center Align Bootstrap Modal Vertically</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="font-size: 13px">
    <div class="modal-dialog">
      <div style="padding-top: 24px; margin-top: 3px" class="modal-content">
        <div class="m-header">
          <button class="close" data-dismiss="modal" style="margin-top: -20px">
            ×
          </button>
          <div class="par-right">
            <div class="modal-header" style="margin-left: -58px">
              <h1
                style="
                  font-size: 15px;
                  margin-left: -40px;
                  color: #1f3540;
                  margin-top: 39px;
                "
              >
                Create Geography
              </h1>
            </div>
            <br /><br />
            <form (ngSubmit)="onSubmit()" style="margin-left: -38px">
              <label style="font-weight: 500">Geography Name </label>
              <label style="font-weight: 500; margin-left: 175px"
                >Geography Code
              </label>
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="geographyName"
                name="geographyName"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="geography.geographyName"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 274px; margin-top: -35px"
                type="text"
                value=""
                id="geographyCode"
                name="geographyCode"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="geography.geographyCode"
              /><br />
              <label style="font-weight: 500" for="fname"
                >Postal code <span class="required">*</span></label
              >
              <label style="font-weight: 500; margin-left: 201px" for="fname"
                >City <span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="postalCode"
                name="postalCode"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="geography.postalCode"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 273px; margin-top: -35px"
                type="text"
                value=""
                id="city"
                name="city"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="geography.city"
              />
              <br />
              <label style="font-weight: 500" for="fname"
                >Country <span class="required">*</span></label
              >
              <label style="font-weight: 500; margin-left: 220px" for="fname">
                State<span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="country"
                name="country"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="geography.country"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 273px; margin-top: -35px"
                type="text"
                value=""
                id="state"
                name="state"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="geography.state"
              />
              <div
                class="text-center"
                style="margin-left: -51px; margin-top: 32px"
              >
                <button
                  type="submit"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    border-radius: 3px;
                    border-color: #1f3540;
                    border: 1px solid #1f3540;
                    height: 30px;
                    width: 63px;
                  "
                >
                  Save
                </button>
                <button
                  type="Reset"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    margin-left: -143px;
                    border-radius: 3px;
                    background-color: #ffffff;
                    color: #1f3540;
                    border-color: #1f3540;
                    border: 1px solid #707070;
                    height: 30px;
                    width: 63px;
                  "
                  value="Reset"
                >
                  Clear
                </button>
              </div>
              <br /><br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
