<app-header-footer></app-header-footer>
<app-sidebar-lead></app-sidebar-lead>

<div class="Container" style="width: 75%; margin-left: 286px">
  <a routerLink="/dashboardlead" routerLinkActive="Active"
    ><img class="img" src="assets/images/back.png" alt="" />Back To dashboard</a
  >
  <nav class="navbar">
    <input
      class="form-control"
      type="text"
      name="first_Name"
      [(ngModel)]="first_Name"
      (ngModelChange)="Search()"
      placeholder="Enter first name to search"
      style="width: 25%; margin-bottom: 17px; margin-top:23px"
    />
  </nav>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile_No</th>
        <th scope="col">Contry</th>
      </tr>
    </thead>
    <tbody *ngIf="lead">
      <tr *ngFor="let l of lead">
        <td>{{ l?.id }}</td>
        <td>{{ l?.first_Name }}</td>
        <td>{{ l?.last_Name }}</td>
        <td>{{ l?.email }}</td>
        <td>{{ l?.mobile_No }}</td>
        <td>{{ l?.country }}</td>
      </tr>
    </tbody>
  </table>
</div>
