<!DOCTYPE html>
<html>
  <head>
    <title>Center Align Bootstrap Modal Vertically</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="font-size: 13px">
    <div class="modal-dialog">
      <div style="padding-top: 24px; margin-top: 3px" class="modal-content">
        <div class="m-header">
          <button class="close" data-dismiss="modal" style="margin-top: -20px">
            ×
          </button>
          <div class="par-right">
            <div class="modal-header" style="margin-left: -58px">
              <h1
                style="
                  font-size: 15px;
                  margin-left: -40px;
                  color: #1f3540;
                  margin-top: 39px;
                "
              >
                Update Lead
              </h1>
            </div>
            <br /><br />
            <form
              (ngSubmit)="onSubmit()"
              style="margin-left: -38px"
              name="myForm"
              method="get"
            >
              <label style="font-weight: 500"
                >First Name <span class="required">*</span>
              </label>
              <label style="margin-left: 207px; font-weight: 500"
                >Last Name <span class="required">*</span>
              </label>
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="first_Name"
                name="first_Name"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="lead.first_Name"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                value=""
                id="last_name"
                name="last_Name"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="lead.last_Name"
              /><br />
              <label style="font-weight: 500" for="fname"
                >Mobile Phone <span class="required">*</span></label
              >
              <label style="margin-left: 190px; font-weight: 500" for="lname"
                >Primary Email <span class="required">*</span>
              </label>
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="mobile_No"
                name="mobile_No"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="lead.mobile_No"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="email"
                name="email"
                [(ngModel)]="lead.email"
              /><br />
              <label style="font-weight: 500" for="fname"
                >PAN <span class="required">*</span>
              </label>
              <label style="margin-left: 240px; font-weight: 500" for="lname"
                >Addhar <span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="pan"
                name="pan"
                [(ngModel)]="lead.pan"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="aadhar"
                name="aadhar"
                [(ngModel)]="lead.aadhar"
              /><br />
              <label style="font-weight: 500" for="fname"
                >Postal code <span class="required">*</span></label
              >
              <label style="margin-left: 201px; font-weight: 500" for="lname"
                >City <span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="postal code"
                name="postal code"
                [(ngModel)]="lead.postal_code"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="city"
                name="city"
                [(ngModel)]="lead.city"
              /><br />
              <label style="font-weight: 500" for="fname"
                >Country <span class="required">*</span></label
              >
              <label style="margin-left: 224px; font-weight: 500" for="lname"
                >State <span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="country"
                name="country"
                [(ngModel)]="lead.country"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                value=""
                placeholder="-Enter Deatils here-"
                id="state"
                name="state"
                [(ngModel)]="lead.state"
              /><br />

              <td width="35%">
                <label style="font-weight: 500"
                  >Lead Source <span class="required">*</span></label
                >
              </td>
              <td>
                <label style="margin-left: 152px; font-weight: 500" for="lname"
                  >Lead Status <span class="required">*</span></label
                >
              </td>
              <select
                class="form-control userDetail-input"
                style="width: 249px; padding: 3px; margin-left: 1px"
                id="lead_source"
                name="lead_source"
                [(ngModel)]="lead.lead_Source"
              >
                <option value="" disabled selected>-Select-</option>
                <option value="CRM">CRM</option>
                <option value="Sales">Sales</option>
              </select>
              <br />
              <select
                class="form-control userDetail-input"
                style="
                  width: 249px;
                  padding: 3px;
                  margin-left: 271px;
                  margin-top: -52px;
                "
                name="lead_status"
                id="lead_status"
                [(ngModel)]="lead.lead_Status"
              >
                <option value="" disabled selected>-Select-</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
              <br />
              <td width="35%">
                <label style="font-weight: 500"
                  >Asssined To <span class="required">*</span></label
                >
              </td>
              <select
                class="form-control userDetail-input"
                style="width: 249px; padding: 3px; margin-left: 1px"
                name="assigned_to"
                id="assigned_to"
                [(ngModel)]="lead.assign_To"
              >
                <option value="" disabled selected>-Select-</option>
                <option value="Sidhant kumar">Sidhant kumar</option>
                <option value="Avinash sonawane">Avinash sonawane</option>
              </select>
              <br />
              <div class="text-center" style="margin-left: -51px">
                <button
                  type="submit"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    border-radius: 3px;
                    border-color: #1f3540;
                    border: 1px solid #1f3540;
                    height: 30px;
                    width: 63px;
                  "
                >
                  Save
                </button>
                <button
                  type="Reset"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    margin-left: -143px;
                    border-radius: 3px;
                    background-color: #ffffff;
                    color: #1f3540;
                    border-color: #1f3540;
                    border: 1px solid #707070;
                    height: 30px;
                    width: 63px;
                  "
                  value="Reset"
                >
                  Clear
                </button>
              </div>
              <br /><br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
