.text-center {
  text-align: center;
  color: white;
}
.logo-img {
  text-align: left;
  margin-bottom: 10px;
}
.par-right {
  margin-left: 55px;
  margin-top: -50px;
  font: normal normal medium 16px/14px Helvetica Neue LT Std;
}
.comments {
  margin-left: 55px;
  margin-top: 25px;
  font: normal normal medium 16px/14px Helvetica Neue LT Std;
  color: #52575d;
  opacity: 1;
}
.required {
  color: red;
}
h1 {
  top: 83px;
  left: 633px;
  /* UI Properties */
  text-align: center;
  font: normal normal medium 17px/23px Roboto;
  letter-spacing: 0px;
  color: #1f3540;
  opacity: 1;
}
/* Styling modal */
.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}
@-webkit-keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
