<app-header-footer></app-header-footer>
<app-sidebar></app-sidebar>

<div class="Container" style="width: 75%; margin-left: 286px">
  <a routerLink="/dashboard" routerLinkActive="Active"
    ><img
      class="img"
      style="height: 34px"
      src="assets/images/back.png"
      alt=""
    />Back To dashboard</a
  >
  <!-- <a routerLink="" routerLinkActive="Active" style="height: 37px"
    ><img
      style="height: 37px; margin-left: 875px; margin-top: -47px"
      class="img"
      src="assets/images/logout.png"
      alt=""
  /></a> -->
  <a
    class="btn btn-primary"
    routerLink="/creategeography"
    routerLinkActive="Active"
    style="margin-left: 882px; margin-bottom: 10px; margin-top: 6px"
    >Create geography</a
  >

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Geography Name</th>
        <th scope="col">Geography Code</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="geography">
      <tr *ngFor="let g of geography">
        <td>{{ g?.id }}</td>
        <td>{{ g?.geographyName }}</td>
        <td>{{ g?.geographyCode }}</td>
        <td>
          <button (click)="updateGeography(g.id)">
            <img class="img" src="assets/images/action.png" alt="" />
          </button>
          <button (click)="deleteGeography(g.id)">
            <img class="img" src="assets/images/delete.png" alt="" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
