<!-- <nav class="navbar navbar-expand-sm" style="background-color: #0096ff">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <img
        class="img"
        src="assets/images/company.png"
        alt=""
        style="height: 39px; margin-left: 1153px"
      />
      <
    </li>
  </ul>
</nav> -->
<div>
  <router-outlet></router-outlet>
</div>
<!-- <footer class="footer">
  <div class="container">
    <span> All Rights are reserved finTech solution 2022</span>
  </div>
</footer> -->
