<div class="side-menu align">
  <div class="administration">
  </div>
  <ul>
    <li>
      <img class="img" src="assets/images/lead.png" alt="" />
      <a routerLink="/employees" routerLinkActive="Active"
      style="font-size: 15px;">User Administration</a
      >
      <div class="sub-menu">
        <!-- <ul style="size:50%">
            <li><a href="#">Users</a></li>
            <li><a href="#">Reset Password</a></li>
           </ul> -->
      </div>
    </li>
    <li>
      <img class="img" src="assets/images/branch.png" alt="" />
      <a routerLink="/branch" routerLinkActive="Active" style="font-size: 15px;">Branch</a>
    </li>
    <li>
      <img class="img" src="assets/images/roles.png" alt="" /><a
        routerLink="/roles"
        routerLinkActive="Active"
        style="font-size: 15px;" >Roles & Rights</a
      >
    </li>
    <li>
      <img class="img" src="assets/images/geography.png" alt="" /><a
        routerLink="/geography"
        routerLinkActive="Active"
        style="font-size: 15px;" >Geography Setup</a
      >
    </li>
  </ul>
</div>
