* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  color: #444;
}
.side-menu {
  position: fixed;
  background: #395870;
  width: 20vw;
  min-height: 100vh;
  flex-direction: column;
  float: left;
}

.side-menu .administration {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu .lead {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu li {
  font-size: 20px;
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
}
.side-menu li a {
  font-size: 20px;
  padding: 10px 10px;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.side-menu li:hover {
  background: blue;
  color: #f05462;
}
.img {
  height: 23px;
  width: 26px;
}
section {
  width: 100%;
  float: left;
  height: 100vh;
  /* position: absolute; */
}
.fix {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fix1 {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fix2 {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-menu {
  display: none;
}
.side-menu li:hover .sub-menu {
  display: list-item;
  position: absolute;
  background: rgb(0, 100, 0);
  margin-top: 15px;
  margin-left: -15px;
}
.side-menu li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}
.side-menu li:hover .sub-menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0px;
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #395870;
  color: #fff;
}
th:first-child {
  text-align: left;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
}
