<!DOCTYPE html>
<html>
  <head>
    <title>Center Align Bootstrap Modal Vertically</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="font-size: 13px">
    <div class="modal-dialog">
      <div style="padding-top: 24px; margin-top: 3px" class="modal-content">
        <div class="m-header">
          <button
            (click)="goToEmployeeList()"
            class="close"
            data-dismiss="modal"
            style="margin-top: -20px"
          >
            ×
          </button>
          <div class="par-right">
            <div class="modal-header" style="margin-left: -58px">
              <h1
                style="
                  font-size: 15px;
                  margin-left: -40px;
                  color: #1f3540;
                  margin-top: 39px;
                "
              >
                Update User
              </h1>
            </div>
            <br /><br />
            <form
              (ngSubmit)="onSubmit()"
              style="margin-left: -38px"
              name="myForm"
              method="get"
            >
              <label style="font-weight: 500" for="fname">Name </label>
              <label style="margin-left: 237px; font-weight: 500" for="lname"
                >Email</label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="name"
                name="name"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="employee.name"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                value=""
                id="email"
                name="email"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="employee.email"
              /><br />
              <label style="font-weight: 500" for="fname"
                >UserId <span class="required">*</span>
              </label>
              <label style="margin-left: 237px; font-weight: 500" for="lname"
                >Password <span class="required">*</span>
              </label>
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="userName"
                name="userName"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="employee.userName"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                value=""
                id="password"
                name="password"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="employee.password"
              /><br />

              <label style="font-weight: 500" for="fname"
                >Mobile Number <span class="required">*</span>
              </label>
              <label style="margin-left: 186px; font-weight: 500" for="lname"
                >Status <span class="required">*</span>
              </label>
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="mobile_no"
                name="mobile_no"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="employee.mobile_no"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 276px; margin-top: -34px"
                type="text"
                id="status"
                name="status"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="employee.status"
              /><br />

              <br />
              <td width="35%">
                <label style="font-weight: 500"
                  >Role <span class="required">*</span></label
                >
              </td>
              <select
                class="form-control userDetail-input"
                style="width: 522px; padding: 3px; margin-left: 1px"
                id="role"
                name="role"
                [(ngModel)]="employee.role"
              >
                <option value="" disabled selected>-Select-</option>
                <option value="CRM">CRM</option>
                <option value="Sales">Sales</option>
              </select>
              <br />

              <label style="margin-left: 2px; font-weight: 500" for="lname"
                >Level <span class="required">*</span></label
              >

              <select
                class="form-control userDetail-input"
                style="
                  width: 520px;
                  padding: 3px;
                  margin-left: 1px;
                  margin-top: 2px;
                "
                name="level"
                id="level"
                [(ngModel)]="employee.level"
              >
                <option value="" disabled selected>-Select-</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
              </select>
              <br />

              <div class="text-center" style="margin-left: -51px">
                <button
                  type="submit"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    border-radius: 3px;
                    border-color: #1f3540;
                    border: 1px solid #1f3540;
                    height: 30px;
                    width: 63px;
                  "
                >
                  Save
                </button>
                <button
                  type="Reset"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    margin-left: -143px;
                    border-radius: 3px;
                    background-color: #ffffff;
                    color: #1f3540;
                    border-color: #1f3540;
                    border: 1px solid #707070;
                    height: 30px;
                    width: 63px;
                  "
                  value="Reset"
                >
                  Clear
                </button>
              </div>
              <br /><br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
