<div class="side-menu">
  <h1><u>Leads</u></h1>
  <ul>
    <li>
      <img class="img" src="assets/images/lead.png" alt="" /><a href="/lead"
        style="font-size: 15px;">Lead</a
      >
    </li>
    <li>
      <img class="img" src="assets/images/search lead.png" alt="" /><a
        href="/searchLead"
        style="padding: 1px; margin-left: 10px;font-size: 15px;"
        >Search Lead</a
      >
    </li>
   
    
  </ul>
  <h1><u>Lead Management</u></h1>
  <ul>
  <li>
    <img class="img" src="assets/images/assign.png" alt="" /><a
      href="/worklist"
      style="padding: 1px; margin-left: 10px;font-size: 15px;"
      >Worklist</a
    >
  </li>
  <li>
    <img class="img" src="assets/images/maintance.png" alt="" /><a
      href="/lead"
      style="padding: 1px; margin-left: 10px;font-size: 15px;"
      >Lead Maintance</a
    >
  </li>
</ul>
</div>
