/* .container {
  padding: 16px;
  background-color: white;
  margin-left: 411px;
  margin-right: 411px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
* {
  box-sizing: border-box;
} */

.text-center {
  text-align: center;
  color: white;
}
.logo-img {
  text-align: left;
  margin-bottom: 10px;
}
.par-right {
  margin-left: 55px;
  margin-top: -50px;
  font: normal normal medium 16px/14px Helvetica Neue LT Std;
}
.comments {
  margin-left: 55px;
  margin-top: 25px;
  font: normal normal medium 16px/14px Helvetica Neue LT Std;
  color: #52575d;
  opacity: 1;
}
.required {
  color: red;
}
h1 {
  top: 83px;
  left: 633px;
  /* UI Properties */
  text-align: center;
  font: normal normal medium 17px/23px Roboto;
  letter-spacing: 0px;
  color: #1f3540;
  opacity: 1;
}
/* Styling modal */
.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}
@-webkit-keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
