
<!DOCTYPE html>
<html>
  <head>
    <title>Center Align Bootstrap Modal Vertically</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="font-size: 13px">
    <div class="modal-dialog">
      <div style="padding-top: 24px; margin-top: 3px" class="modal-content">
        <div class="m-header">
          <button class="close" data-dismiss="modal" style="margin-top: -20px">
            ×
          </button>
          <div class="par-right">
            <div class="modal-header" style="margin-left: -58px">
              <h1
                style="
                  font-size: 15px;
                  margin-left: -40px;
                  color: #1f3540;
                  margin-top: 39px;
                "
              >
                Update Branch
              </h1>
            </div>
            <br /><br />
            <form
              (ngSubmit)="onSubmit()"
              style="margin-left: -38px"
              name="myForm"
              method="get"
            >
              <label style="font-weight: 500" for="fname"
                >Branch Name <span class="required">*</span></label
              >
              <label style="font-weight: 500; margin-left: 183px" for="fname"
                >Branch code <span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="branchName"
                name="branchName"
                [(ngModel)]="branch.branchName"
                placeholder="-Enter Deatils here-"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 273px; margin-top: -35px"
                type="text"
                value=""
                id="branchCode"
                name="branchCode"
                [(ngModel)]="branch.branchCode"
                placeholder="-Enter Deatils here-"
              /><br /><br />
              Address :
              <br />
              <label style="font-weight: 500" for="fname"
                >Line 1 <span class="required">*</span></label
              >
              <label style="font-weight: 500; margin-left: 231px" for="fname"
                >Line 2 <span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="name"
                name="name"
                placeholder="-Enter Deatils here-"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 273px; margin-top: -35px"
                type="text"
                value=""
                id="name"
                name="name"
                placeholder="-Enter Deatils here-"
              /><br />

              <label style="font-weight: 500" for="fname"
                >Postal code <span class="required">*</span></label
              >
              <label style="font-weight: 500; margin-left: 244px" for="fname"
                >City <span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="name"
                name="name"
                placeholder="-Enter Deatils here-"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 273px; margin-top: -35px"
                type="text"
                value=""
                id="name"
                name="name"
                placeholder="-Enter Deatils here-"
              />
              <br />
              <label style="font-weight: 500" for="fname"
                >Country <span class="required">*</span></label
              >
              <label style="font-weight: 500; margin-left: 220px" for="fname">
                State<span class="required">*</span></label
              >
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="name"
                name="name"
                placeholder="-Enter Deatils here-"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 273px; margin-top: -35px"
                type="text"
                value=""
                id="name"
                name="name"
                placeholder="-Enter Deatils here-"
              />

              <div
                class="text-center"
                style="margin-left: -51px; margin-top: 33px"
              >
                <button
                  type="submit"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    border-radius: 3px;
                    border-color: #1f3540;
                    border: 1px solid #1f3540;
                    height: 30px;
                    width: 63px;
                  "
                >
                  Save
                </button>
                <button
                  type="Reset"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    margin-left: -143px;
                    border-radius: 3px;
                    background-color: #ffffff;
                    color: #1f3540;
                    border-color: #1f3540;
                    border: 1px solid #707070;
                    height: 30px;
                    width: 63px;
                  "
                  value="Reset"
                >
                  Clear
                </button>
              </div>
              <br /><br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
