.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #0096ff;
  color: white;
  text-align: center;
}
a {
  color: black;
  text-decoration: black;
}
