<nav class="navbar navbar-expand-sm" style="background-color: lightslategray" >
  <ul class="navbar-nav" >
    <li class="navbar-item">
      <img
        class="img"
        src="assets/images/company.png"
        alt=""
        style="height: 39px; margin-left: 1153px"
      />
      <label style="margin-left: -179px">Logout</label>
      <a
        routerLink=""
        routerLinkActive="Active"
        style="margin-left: 1050px; height: 37px"
        ><img
          style="height: 37px; margin-top: -61px"
          class="img"
          src="assets/images/logout.png"
          alt=""
      /></a>
    </li>
  </ul>
</nav>

<!-- <footer class="footer">
  <div class="container">
    <span> All Rights are reserved finTech solution 2022</span>
  </div>
</footer> -->
