<!-- <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      /* Add padding to containers */
    </style>
  </head>
  <body>
    <form (ngSubmit)="onSubmit()" style="background-color: white">
      <div
        class="container"
        style="margin-left: 453px; width: 374px; margin-bottom: 70px"
      >
        <h1 style="font-size: 25px; margin-bottom: -17px">Create user</h1>
        <hr />

        <label for="Name" style="font-size: 16px"><b>Name</b></label>
        <input
          type="text"
          placeholder="Enter Name"
          name="Name"
          id="name"
          required
          style="padding-bottom: 0px"
          [(ngModel)]="employee.name"
        />
        <label for="Mobile" style="font-size: 16px"><b>Mobile Number</b></label>
        <input
          type="text"
          placeholder="Enter mobile number"
          name="M_No"
          id="mobile_no"
          required
          style="padding-bottom: 0px"
          [(ngModel)]="employee.mobile_no"
        />
        <label for="email" style="font-size: 16px"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="email"
          id="email"
          required
          style="padding-bottom: 0px"
          [(ngModel)]="employee.email"
        />
        <label for="Role" style="font-size: 16px"><b>Level</b></label
        ><br />
        <select
          name="Level"
          id="level"
          required
          style="width: 336px; height: 34px"
          [(ngModel)]="employee.level"
        >
          <option value="L1">L1</option>
          <option value="L2">L2</option>
          <option value="L1">L3</option>
          <option value="L2">L4</option></select
        ><br /><br />

        <label for="Level" style="font-size: 16px"><b>Role</b></label
        ><br />
        <select
          name="Role"
          id="role"
          required
          style="width: 336px; height: 34px"
          [(ngModel)]="employee.role"
        >
          <option value="CRM">CRM</option>
          <option value="Sales">Sales</option>
        </select>
        <button
          type="submit"
          value="submit"
          style="
            background-color: green;
            margin-top: 20px;
            height: 35px;
            width: 84px;
          "
        >
          Submit
        </button>
        <hr />
      </div>
    </form>
  </body>
</html> -->

<!--                     New     design   -->
<!DOCTYPE html>
<html>
  <head>
    <title>Center Align Bootstrap Modal Vertically</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="font-size: 13px">
    <div class="modal-dialog">
      <div style="padding-top: 24px; margin-top: 3px" class="modal-content">
        <div class="m-header">
          <button class="close" data-dismiss="modal" style="margin-top: -20px">
            ×
          </button>
          <div class="par-right">
            <div class="modal-header" style="margin-left: -58px">
              <h1
                style="
                  font-size: 15px;
                  margin-left: -40px;
                  color: #1f3540;
                  margin-top: 39px;
                "
              >
                Create Role
              </h1>
            </div>
            <br /><br />
            <form
              (ngSubmit)="onSubmit()"
              style="margin-left: -38px"
              name="myForm"
              method="get"
            >
              <label style="font-weight: 500" for="fname">Role Name </label>
              <label style="font-weight: 500; margin-left: 211px" for="fname"
                >Role code
              </label>
              <input
                class="form-control userDetail-input"
                style="width: 249px"
                type="text"
                value=""
                id="roleName"
                name="roleName"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="role.roleName"
              />
              <input
                class="form-control userDetail-input"
                style="width: 249px; margin-left: 274px; margin-top: -35px"
                type="text"
                value=""
                id="roleCode"
                name="roleCode"
                placeholder="-Enter Deatils here-"
                [(ngModel)]="role.roleCode"
              />
              <div
                class="text-center"
                style="margin-left: -51px; margin-top: 32px"
              >
                <button
                  type="submit"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    border-radius: 3px;
                    border-color: #1f3540;
                    border: 1px solid #1f3540;
                    height: 30px;
                    width: 63px;
                  "
                >
                  Save
                </button>
                <button
                  type="Reset"
                  style="
                    background-color: #1f3540;
                    opacity: 1;
                    margin-left: -143px;
                    border-radius: 3px;
                    background-color: #ffffff;
                    color: #1f3540;
                    border-color: #1f3540;
                    border: 1px solid #707070;
                    height: 30px;
                    width: 63px;
                  "
                  value="Reset"
                >
                  Clear
                </button>
              </div>
              <br /><br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
