<app-header-footer></app-header-footer>
<app-sidebar></app-sidebar>

<div class="Container" style="width: 75%; margin-left: 286px">
  <a routerLink="/dashboard" routerLinkActive="Active"
    ><img
      class="img"
      style="height: 34px"
      src="assets/images/back.png"
      alt=""
    />Back To dashboard</a
  >
  <a
    class="btn btn-primary"
    routerLink="/createuser"
    routerLinkActive="Active"
    style="margin-left: 882px; margin-bottom: 10px; margin-top: 6px"
    >Create User</a
  >

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile number</th>
        <th scope="col">Email</th>
        <th scope="col">Level</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="decode">
      <tr *ngFor="let e of decode">
        <td>{{ e?.id }}</td>
        <td>{{ e?.name }}</td>
        <td>{{ e?.mobile_no }}</td>
        <td>{{ e?.email }}</td>
        <td>{{ e?.level }}</td>
        <td>{{ e?.role }}</td>
        <td>
          <button (click)="updateEmployee(e.id)">
            <img class="img" src="assets/images/action.png" alt="" />
          </button>
          <button (click)="deleteEmployee(e.id)">
            <img class="img" src="assets/images/delete.png" alt="" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
